@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Luckiest+Guy&family=Rammetto+One&family=Roboto+Slab&display=swap');

body {
	font-family: 'Roboto', sans-serif;
    background-color: #D0ADA7;   
}
 
.page-footer {
    background-color: #5d2e46;
    font-family: 'Rammetto One', sans-serif;
}

.nav-wrapper {
    font-family: 'Roboto', sans-serif;
    background-color: #5d2e46;
}

.brand-logo {
    font-family: 'Rammetto One', sans-serif;
    font-weight: bolder;
}

.register {
    font-family: 'Luckiest Guy', sans-serif;
    color: #5d2e46;
}

.button-register {
    font-family: 'Luckiest Guy', sans-serif;
    background-color: #5d2e46;
}

.flash_message {
    font-family: 'Luckiest Guy', sans-serif;
    background-color: #ad6a6c;
    color: #fff;
}

.flashes h4 {
    line-height: 3;
}

.collapsible-header {
    font-family: 'Luckiest Guy', sans-serif;
    background-color: #a675a1;
    font-style: oblique;
}

.card-panel {
    background-color: #e8d6cb;
    margin-top: 50px;
}

.color-button {
    background-color: #5d2e46;
}

.btn-small {
    margin: 5px;
    background-color: #5d2e46;
}

.collapsible-header .col strong {
    margin:5px;
    line-height: 45px;
}









