{% extends "base.html" %}
{% block content %}



{% for shares in share %}
    {{ shares.airline_name }}<br>
    {{ shares.airline_class }}<br>
    {{ shares.destination}}<br>
    {{ shares.review}}<br>
{% endfor %}

<ul class="collapsible popout pop">
    {% for shares in share %}
    <li>
        <div class="collapsible-header">
            <i class="fas fa-arrow-circle-down"></i>
            <i class="fas fa-plane"></i>
            <strong>{{ shares.airline_name }}</strong> 
        </div>
        <div class="collapsible-body">
            <strong>{{ shares.airline_class }}</strong>     
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}